* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #2e2e2e;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header, #footer {
  background-color: #3a3a3a;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

#aside {
  background-color: #4a4a4a;
  color: white;
  padding: 1rem;
  width: 200px;
  min-height: calc(100vh - 4rem); /* Ajustando al espacio sin header/footer */
  position: fixed;
  top: 4rem;
  left: 0;
}

#aside button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #5a5a5a;
  color: white;
  border: none;
  cursor: pointer;
}

#aside button:disabled {
  background-color: #777;
  cursor: not-allowed;
}